<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ddocdoc.mapper.pharmacymapper.PharmacyMapper">
	
	<!-- 약국  insert  -->
	<insert id="pharmacyInsert" parameterType="org.ddocdoc.vo.pharmacyvo.PharmacyVO">
		insert into dd_pharmacy (PHAR_NUM, PHAR_NAME, PHAR_TEL, PHAR_ADDR, PHAR_TIME, PHAR_INFO, PHAR_WAIT) 
		values('P00' || pharmacy_seq.nextval, #{phar_name}, #{phar_tel}, #{phar_addr}, #{phar_time}, #{phar_info}, 0)
	</insert>
	
	
	<!-- 약국  list -->
	<select id="pharmacyList" resultType="org.ddocdoc.vo.pharmacyvo.PharmacyVO">
		select * from dd_pharmacy
	</select>
	
	<!-- 약국  detail -->
	<select id="pharmacyDetail" resultType="org.ddocdoc.vo.pharmacyvo.PharmacyVO" parameterType="String">
		select * from dd_pharmacy 
		where phar_num = #{phar_num}
	</select>
	
	<!-- 약국 update -->
	<update id="pharmacyUpdate" parameterType="org.ddocdoc.vo.pharmacyvo.PharmacyVO">
		update dd_pharmacy
		set phar_name = #{phar_name, jdbcType=VARCHAR}, phar_tel = #{phar_tel, jdbcType=VARCHAR}, phar_addr = #{phar_addr, jdbcType=VARCHAR}, phar_time = #{phar_time, jdbcType=VARCHAR}, phar_info = #{phar_info, jdbcType=VARCHAR}
		where phar_num = #{phar_num}
	</update>
	
	<!-- 약국 delete -->
	<delete id="pharmacyDelete" parameterType="String">
		delete from dd_pharmacy 
		where phar_num = #{phar_num}
	</delete>
	
</mapper>
