<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ddocdoc.mapper.replymapper.ReplyMapper">
	<insert id="replyInsert">
		insert into dd_com_reply (rep_num, rep_writer, rep_content, com_num) values (rep_seq.nextval, #{rep_writer}, #{rep_content}, #{com_num})
	</insert>
	
	
	<select id="replyDetail" resultType="org.ddocdoc.vo.replyvo.ReplyVO">
		select * from dd_com_reply where rep_num = #{rep_num}
	</select>
	
	<delete id="replyDelete">
		delete from dd_com_reply where rep_num = #{rep_num}
	</delete>
	
	<update id="replyUpdate">
		update dd_com_reply set rep_content = #{rep_content} where rep_num = #{rep_num}
	</update>
	
	<select id="replyList"  resultType="org.ddocdoc.vo.replyvo.ReplyVO">
		select * from dd_com_reply where com_num = #{com_num} order by rep_num asc
	</select>
</mapper>