<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ddocdoc.mapper.hospitalmapper.HospitalMapper">

	<!-- 병원 정보 등록 -->
	<insert id="hospitalInsert" parameterType="org.ddocdoc.vo.hospitalvo.HospitalVO">
		insert into dd_hospital (hos_num, hos_name, hos_tel, hos_addr, hos_time, hos_info, hos_wait, hos_type) values('H00' || hospital_seq.nextval, #{hos_name, jdbcType=VARCHAR}, #{hos_tel, jdbcType=VARCHAR},
			#{hos_addr, jdbcType=VARCHAR}, #{hos_time, jdbcType=VARCHAR}, #{hos_info, jdbcType=VARCHAR}, 0, #{hos_type, jdbcType=VARCHAR})
	</insert>
	
	
	<!-- 병원 정보 리스트 -->
	<select id="hospitalList" resultType="org.ddocdoc.vo.hospitalvo.HospitalVO">
		select * from dd_hospital
	</select>
	
	<!-- 병원 정보 상세 -->
    <select id="hospitalDetail" resultType="org.ddocdoc.vo.hospitalvo.HospitalVO" parameterType="String">
         select * from dd_hospital
         where hos_num = #{hos_num, jdbcType=VARCHAR}
    </select>
    
    <!-- 병원 정보 수정 -->
    <update id="hospitalUpdate" parameterType="org.ddocdoc.vo.hospitalvo.HospitalVO">
         update dd_hospital
         set  hos_name = #{hos_name, jdbcType=VARCHAR}, hos_tel = #{hos_tel, jdbcType=VARCHAR}, hos_addr = #{hos_addr, jdbcType=VARCHAR}, hos_time = #{hos_time, jdbcType=VARCHAR}, hos_info = #{hos_info, jdbcType=VARCHAR}, hos_type = #{hos_type, jdbcType=VARCHAR},
         where hos_num = #{hos_num}
    </update>
	
	<!-- 병원 정보 삭제 -->
    <delete id="hospitalDelete" parameterType="String">
         delete from dd_hospital
         where hos_num = #{hos_num}
    </delete>
	
	<!-- 병원 예약 환자 리스트 -->
	<select id="hosResList" resultType="org.ddocdoc.vo.hospitalresvo.HospitalResVO" parameterType="String">
		select hos_res_num, hos_res_type, hos_res_sym, hos_res_memo, hos_res_date, hos_res_time, cus_num, hos_num, hos_res_acpt as hos_acpt
		from dd_hos_res
		where hos_num = #{hos_num, jdbcType=VARCHAR} 
	</select>
	
	<!-- 병원 예약 접수 -->
	<update id="booleanHosRes" parameterType="String">
		update dd_hos_res 
		set hos_res_acpt = '예약 접수 완료' 
		where hos_res_num = #{hos_res_num, jdbcType=VARCHAR}
	</update> 
	
	<!-- 대기번호 증가 -->
	<update id="increaseWait" parameterType="String">
		update dd_hospital set hos_wait = hos_wait + 1
		where hos_num like #{hos_num}
	</update>  
	
	<!-- 해당 병원 대기번호 발급 -->
	<select id="hospitalWait" parameterType="String" resultType="int" >
		select hos_wait from dd_hospital
		where hos_num = #{hos_num}
	</select>
	
	<!-- 대기번호 데이터 저장 -->
	<insert id="insertWaitData" parameterType = "org.ddocdoc.vo.hospitalwaitvo.HospitalWaitVO" > 
		insert into dd_res_wait values(#{cus_num}, #{hos_num}, #{res_wait} ,#{hos_res_num})
	</insert>
	
	
	<!-- 약 리스트 -->
	<select id="medicineList" resultType="org.ddocdoc.vo.medicinevo.MedicineVO">
		select * from dd_medicine
	</select>
	
	<!-- 처방전 약 명세 저장 -->
	<insert id="insertPreDetail" parameterType="org.ddocdoc.vo.presdetailvo.PresDetailVO">
		insert into dd_pre_detail values(#{med_num}, #{cus_num}, #{med_count}, #{hos_res_num}, #{pres_num})
	</insert>
	
	<!-- 처방전 약 명세 리스트 -->
	<select id="presDetailList" parameterType="String" resultType="org.ddocdoc.vo.presdetailvo.PresDetailVO">
		select * from dd_pre_detail where pres_num=#{pres_num}
		order by cus_num
	</select>
	
	<!-- 처방전 약 명세 약 이름  -->
	<select id="presDetailMedName" parameterType="String" resultType="String">
		select a.med_name from dd_medicine a, dd_pre_detail b
		where a.med_num = b.med_num
		and b.pres_num = #{pres_num}
		order by b.cus_num
	</select>
	
	<!-- 버튼:처방전입력 클릭시 처방전 테이블에 값생성 -->
	<insert id="insertPres" parameterType="org.ddocdoc.vo.presvo.PresVO">
		insert into dd_pres values('P00' || pres_seq.nextval, SYSDATE, 3, #{cus_num}, #{hos_num}, #{hos_res_num}, '미결제')
	</insert>
	
	<!-- <insert id="insertPres" parameterType="org.ddocdoc.vo.presvo.PresVO">
		insert into dd_pres values('P00' || pres_seq.nextval, SYSDATE, 3, #{cus_num}, #{hos_num}, '미결제', #{hos_res_num})
	</insert> -->
	
	<!-- presDetail -->
	<select id="presDetail" resultType="org.ddocdoc.vo.presvo.PresVO" >
		SELECT * FROM (SELECT * FROM dd_pres ORDER BY pres_num DESC) WHERE ROWNUM = 1
	</select>
	
	<!-- 알림 리스트 -->
	<select id="notifyList" resultType="String">
		select b.cus_name from dd_notify a, dd_customer b
			where  a.cus_num = b.cus_num
			and a.not_check = '확인안함'
			order by a.not_num desc
	</select>
	
	<select id="notifyNumList" resultType="String">
		select /*+ INDEX_DESC(dd_notify SYS_C007666) */ not_num from dd_notify where not_check = '확인안함'
	</select>
	
	<!-- 알림 갯수 -->
	<select id="notifyCount" resultType="int">
		select count(*) from dd_notify where not_check = '확인안함'
	</select>
	
	<!-- 알림 클릭시 -->
	<update id="notifyUpdate" parameterType="String">
		update dd_notify set not_check = '확인함' where not_num = #{not_num}
	</update>
	
	<!-- 알람에 병원 이름 뜨게하기 -->
	<select id="notifyHosNameList" resultType="String">
		select b.hos_name from dd_notify a, dd_hospital b
		where a.hos_num = b.hos_num
		and a.not_check = '확인안함'
		order by a.not_num desc
	</select>
	
	<!-- 채팅에 넘겨줄 hos_num -->
	<select id="chatHosNum" resultType="String" parameterType="String">
		select hos_num from dd_notify where not_num = #{not_num}
		
	</select>
	
	<!-- img upload: insert -->
	<insert id="imgInsert">
		insert into dd_hos_attach (uuid, uploadPath, fileName, fileType, hos_num, image)
		values (#{uuid, jdbcType=VARCHAR}, #{uploadPath, jdbcType=VARCHAR}, #{fileName, jdbcType=VARCHAR}, #{fileType, jdbcType=VARCHAR}, #{hos_num, jdbcType=VARCHAR}, #{image, jdbcType=VARCHAR})
	</insert>
	
	<select id="customerDetail" parameterType="String" resultType="org.ddocdoc.vo.customervo.CustomerVO">
		select * from dd_customer where cus_num=#{cus_num}
	</select>
</mapper>
