<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ddocdoc.mapper.hospitalmapper.HospitalMapper">

	<!-- 병원 정보 등록 -->
	<insert id="hospitalInsert" parameterType="org.ddocdoc.vo.hospitalvo.HospitalVO">
		insert into dd_hospital (hos_num, hos_name, hos_tel, hos_addr, hos_time, hos_info, hos_wait, hos_type, uuid, uploadPath, fileName) values('H00' || hospital_seq.nextval, #{hos_name, jdbcType=VARCHAR}, #{hos_tel, jdbcType=VARCHAR},
			#{hos_addr, jdbcType=VARCHAR}, #{hos_time, jdbcType=VARCHAR}, #{hos_info, jdbcType=VARCHAR}, 0, #{hos_type, jdbcType=VARCHAR}, #{uuid, jdbcType=VARCHAR}, #{uploadPath, jdbcType=VARCHAR}, #{fileName, jdbcType=VARCHAR})
	</insert>
	
	
	<!-- 병원 정보 리스트 -->
	<select id="hospitalList" resultType="org.ddocdoc.vo.hospitalvo.HospitalVO">
		select * from dd_hospital
	</select>
	
	<!-- 병원 정보 상세 -->
    <select id="hospitalDetail" resultType="org.ddocdoc.vo.hospitalvo.HospitalVO" parameterType="String">
         select * from dd_hospital
         where hos_num = #{hos_num, jdbcType=VARCHAR}
    </select>
    
    <!-- 병원 정보 수정 -->
    <update id="hospitalUpdate" parameterType="org.ddocdoc.vo.hospitalvo.HospitalVO">
         update dd_hospital
         set  hos_name = #{hos_name, jdbcType=VARCHAR}, hos_tel = #{hos_tel, jdbcType=VARCHAR}, hos_addr = #{hos_addr, jdbcType=VARCHAR}, hos_time = #{hos_time, jdbcType=VARCHAR}, hos_info = #{hos_info, jdbcType=VARCHAR}, hos_type = #{hos_type, jdbcType=VARCHAR},
                  uuid = #{uuid, jdbcType=VARCHAR}, uploadPath = #{uploadPath, jdbcType=VARCHAR}, fileName = #{fileName, jdbcType=VARCHAR}
         where hos_num = #{hos_num}
    </update>
	
	<!-- 병원 정보 삭제 -->
    <delete id="hospitalDelete" parameterType="String">
         delete from dd_hospital
         where hos_num = #{hos_num}
    </delete>
	

</mapper>
