<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ddocdoc.mapper.childmapper.ChildMapper">

	<!-- 아이 정보 등록'05/03/23'#{cus_num, jdbcType=VARCHAR} -->
	<insert id="insertChild" parameterType="org.ddocdoc.vo.childvo.ChildVO">
		insert into dd_child
		(ch_num, ch_name, ch_age, ch_birth, ch_gender, cus_num)
		values
		('CH00'||child_seq.nextval, #{ch_name, jdbcType=VARCHAR}, #{ch_age,
		jdbcType=NUMERIC}, #{ch_birth, jdbcType=DATE}, #{ch_gender,
		jdbcType=VARCHAR}, #{cus_num, jdbcType=VARCHAR})
	</insert>
	<!-- 아이 정보 상세 -->
	<select id="childDetail" resultType="org.ddocdoc.vo.childvo.ChildVO">
		select * from dd_child
		where ch_num = #{ch_num}
	</select>
	<!-- 아이 정보 리스트 -->
	<select id="childList" resultType="org.ddocdoc.vo.childvo.ChildVO">
		select * from dd_child
		where cus_num = #{cus_num}
	</select>
	<!-- 아이 정보 수정 -->
	<update id="updateChild" parameterType="org.ddocdoc.vo.childvo.ChildVO">
		update dd_child
		set
		ch_name = #{ch_name, jdbcType=VARCHAR}, ch_age = #{ch_age,
		jdbcType=NUMERIC}, ch_birth = #{ch_birth, jdbcType=DATE}, ch_gender =
		#{ch_gender, jdbcType=VARCHAR}
		where ch_num = #{ch_num}
	</update>

	<!-- 아이 정보 삭제 -->
	<delete id="deleteChild">
		delete from dd_child
		where ch_num = #{ch_num}
	</delete>

</mapper>
