<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="org.ddocdoc.mapper.livemapper.LiveMapper">
	<cache />

	<!-- 병원이름불러오기 -->
	<select id="selectHos" resultType="String">
		select hos_name from dd_hospital where hos_type='성형외과'
	</select>
	
	<!-- 라이브방송등록 -->
	<insert id="insertLive" parameterType="org.ddocdoc.vo.livevo.LiveVO">
		insert into dd_liveroom values('li00' || liveroom_seq.nextval, #{live_name}, 1 ,null,#{live_address}, #{live_hos}, to_char(sysdate,'yyyy-mm-dd hh24:mi:ss'),null, null)
	</insert>
	
	<!-- 현재 방송목록 불러오기 -->
	<select id="liveList" resultType="org.ddocdoc.vo.livevo.LiveVO">
		select * from dd_liveroom where live_end is null
	</select>
	
	<!-- 고객의 지난방송 -->
	<select id="pastLive" parameterType="String" resultType="org.ddocdoc.vo.livevo.LiveVO">
		select * from dd_liveroom where cus_num=#{cus_num}
	</select>
	<!-- 방정보 수정하기(고객번호입력) -->
	<update id="liveUpdate" parameterType="org.ddocdoc.vo.livevo.LiveVO">
		update dd_liveroom set cus_num = #{cus_num}, live_count = live_count+1
		where live_num=#{live_num}
	</update>
	
	<!-- 방송 종료 -->
	<update id="liveStop" parameterType="String">
		update dd_liveroom set live_end = to_char(sysdate,'yyyy-mm-dd hh24:mi:ss')
		where live_address=#{live_address}
	</update>
	
	<!-- 고객이 상담종료 -->
	<update id="cusStop" parameterType="org.ddocdoc.vo.livevo.LiveVO">
		update dd_liveroom set live_count = live_count-1, live_content= live_content || #{live_content}
		where live_address=#{live_address}
	</update>
	
	<!-- 상담내용불러오기 -->
	<select id="liveContent" parameterType="String" resultType="org.ddocdoc.vo.livevo.LiveVO">
		select * from dd_liveroom
		where live_num=#{live_num}
	</select>
</mapper>















