<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ddocdoc.mapper.boardmapper.BoardMapper">


	<!-- notice: insert -->
	<insert id="noticeInsert" parameterType="org.ddocdoc.vo.noticevo.NoticeVO">
		insert into dd_notice (not_num, not_title, not_writer, not_content, not_date) 
		values('NT00' || not_seq.nextval, #{not_title, jdbcType=VARCHAR}, #{not_writer, jdbcType=VARCHAR},
			#{not_content, jdbcType=VARCHAR}, sysdate)
	</insert>
	
	
	<!-- notice:list -->
	<select id="noticeList" resultType="org.ddocdoc.vo.noticevo.NoticeVO">
		select * from dd_notice
	</select>
	
	<!-- notice:detail -->
    <select id="noticeDetail" resultType="org.ddocdoc.vo.noticevo.NoticeVO" parameterType="String">
         select * from dd_notice
         where not_num = #{not_num, jdbcType=VARCHAR}
    </select>
    
    <!-- notice:update -->
    <update id="noticeUpdate" parameterType="org.ddocdoc.vo.noticevo.NoticeVO">
         update dd_notice
         set  not_title = #{not_title, jdbcType=VARCHAR}, not_writer = #{not_writer, jdbcType=VARCHAR}, 
         not_content = #{not_content, jdbcType=VARCHAR}
         where not_num = #{not_num}
    </update>
	
	<!-- notice:delete -->
    <delete id="noticeDelete" parameterType="String">
         delete from dd_notice
         where not_num = #{not_num}
    </delete>
    
    
    
	<!-- Anq: insert -->
	<insert id="askInsert" parameterType="org.ddocdoc.vo.askvo.AskVO">
		insert into dd_ask (ask_num, ask_title, ask_content) 
		values('ask00' || ask_seq.nextval, #{ask_title, jdbcType=VARCHAR}, #{ask_content, jdbcType=VARCHAR})
	</insert>
	
	
	<!-- Anq:list -->
	<select id="askList" resultType="org.ddocdoc.vo.askvo.AskVO">
		select * from dd_ask
	</select>
	
	<!-- Anq:detail -->
    <select id="askDetail" resultType="org.ddocdoc.vo.askvo.AskVO" parameterType="String">
         select * from dd_ask
         where ask_num = #{ask_num, jdbcType=VARCHAR}
    </select>
    
    <!-- Anq:update -->
    <update id="askUpdate" parameterType="org.ddocdoc.vo.askvo.AskVO">
         update dd_ask
         set  ask_title = #{ask_title, jdbcType=VARCHAR}, ask_content = #{ask_content, jdbcType=VARCHAR}
         where ask_num = #{ask_num}
    </update>
	
	<!-- Anq:delete -->
    <delete id="askDelete" parameterType="String">
         delete from dd_ask
         where ask_num = #{ask_num}
    </delete>
    
    
    <!-- term: insert -->
	<insert id="termInsert" parameterType="org.ddocdoc.vo.termvo.TermVO">
		insert into dd_term (term_num, term_title, term_content) 
		values('TE00' || term_seq.nextval, #{term_title, jdbcType=VARCHAR}, #{term_content, jdbcType=VARCHAR})
	</insert>
	
	
	<!-- term:list -->
	<select id="termList" resultType="org.ddocdoc.vo.termvo.TermVO">
		select * from dd_term
	</select>
	
	<!-- term:detail -->
    <select id="termDetail" resultType="org.ddocdoc.vo.termvo.TermVO" parameterType="String">
         select * from dd_term
         where term_num = #{term_num, jdbcType=VARCHAR}
    </select>
    
    <!-- term:update -->
    <update id="termUpdate" parameterType="org.ddocdoc.vo.termvo.TermVO">
         update dd_term
         set  term_title = #{term_title, jdbcType=VARCHAR}, 
         term_content = #{term_content, jdbcType=VARCHAR}
         where term_num = #{term_num}
    </update>
	
	<!-- term:delete -->
    <delete id="termDelete" parameterType="String">
         delete from dd_term
         where term_num = #{term_num}
    </delete>
    
    <!-- term: pagination -->
      
    <select id="getListWithPaging" resultType="org.ddocdoc.vo.termvo.TermVO">
    <!-- 
	  <![CDATA[
		select term_num, term_title, term_content 
		from
			(select /*+INDEX_DESC(dd_term term_pk) */ rownum rn, term_num, term_title, term_content 
			from dd_term where rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum} -1) * #{amount}
		]]>
		 -->
		<![CDATA[
		select term_num, term_title, term_content 
		from
			(select rownum rn, term_num, term_title, term_content 
			from dd_term where rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum} -1) * #{amount}
		]]>
		
	  </select>


	<select id="getTotalCount" resultType="int">
		select count(*) from dd_term 
	</select>
	
	
</mapper>
